@import '../../../../utils/utils.scss';

.PackageSection {
  padding-bottom: 3rem;
  &__text {
    @include container;
    padding-top: 0;
    line-height: 1.2;

    @include below($phone) {
      padding-top: 1rem;
    }
  }
}