@import "../../../utils/utils.scss";

.Header {
  width: 100%;
  height: 8rem;
  background: $black;
  position: relative;

  &__container {
    @include hContainer;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
  }

  &__logo {
    height: 5rem;
    object-fit: contain;
  }

  &__navItems {
    display: flex;
    gap: 2.5rem;
  }
}

:global(.Header__navItem) {
  text-decoration: none;
  color: $white;
}