@import '../../../utils/utils.scss';

.ContactForm {
  background: $black;
  color: $white;

  &__container {
    @include container;
  }

  &__title {
    margin-bottom: 2rem;
  }

  &__text {
    line-height: 1.5;
    margin-bottom: 4rem;
  }

  &__formLabel {
    display: block;
    margin-bottom: 1rem;
  }

  &__formInput, &__textArea {
    width: 100%;
    display: block;
    min-height: 3rem;
    margin-bottom: 3rem;
    background: $primary-colour;
    color: $white;
    border: $white 1px solid;
    border-radius: 2px;

    &::placeholder {
      color: rgb(187, 184, 184);
    }
  }

  &__textArea {
    min-height: 14rem;
  }

  &__submit {
    background: $primary-colour;
    border: 1px solid $white;
    border-radius: 3px;
    color: $white;
    padding: 0.6rem 2rem;

    &:hover {
      background: $white;
      color: $black;
      cursor: pointer;
    }
  }
}