@import '../../../utils/utils.scss';

.ContactForm {
  background: $black;
  color: $white;

  &__container {
    @include container;
  }

  &__title {
    font-size: 3rem;
    margin-bottom: 2rem;
  }

  &__text {
    font-size: 1.4rem;
    line-height: 1.5;
    margin-bottom: 4rem;

    @include above($tablet) {
      font-size: 1.6rem;
    }
  }

  &__formLabel {
    display: block;
    font-size: 1.4rem;
    margin-bottom: 1rem;
  }

  &__formInput, &__textArea {
    width: 100%;
    display: block;
    min-height: 3rem;
    margin-bottom: 3rem;
    background: $primary-colour;
    color: $white;
    border: $white 1px solid;
    border-radius: 2px;

    &::placeholder {
      color: rgb(187, 184, 184);
    }
  }

  &__textArea {
    min-height: 14rem;
  }

  &__submit {
    background: $primary-colour;
    border: none;
    border-radius: 3px;
    color: $white;
    font-size: 1.4rem;
    padding: 0.6rem 2rem;
  }
}