@import '../../../utils/utils.scss';

.EmailSent {
  min-height: calc(100vh - 14.4rem);

  &__container {
    @include container;
    display: flex;
    flex-direction: column;
  }

  &__title {
    font-size: 5rem;
    margin-bottom: 2rem;
    color: $primary-colour;
  }

  &__message {
    font-size: 2rem;
    margin-bottom: 3rem;
  }

  :global(.EmailSent__link) {
    text-decoration: none;
    margin-bottom: 1.5rem;
    font-size: 2rem;
    color: $primary-colour;
    padding-bottom: 0.3rem;
    border-bottom: 1px solid $primary-colour;

    &:hover {
      color: $black;
      border-bottom: 1px solid $black;

    }
  }
}