@import "../../../utils/utils.scss";

.HeroHome {
  $header-height: 4rem;
  $cta-container-height: 11rem;

  background: $primary-colour;
  color: $white;

  &__video {
    width: 100%;
    overflow: hidden;
  }

  &__mobileHeroContainer {
    position: relative;
    height: 70vh;

    @include above($phone) {
      display: none;
    }
  }

  &__mobileHeroImage {
    width: 102%;
    margin-left: -1%;
    margin-top: -5px;
    height: 102%;
    object-fit: cover;
    filter: blur(0.5rem);
    background: $black;
  }

  &__logo {
    position: absolute;
    bottom: 40%;
    left: 50%;
    transform: translate(-50%,50%);
    width: 70%;
  }
  
  &__videoContent {
    display: none;

    @include above($phone) {
      display: block;
      height: calc(100vh - #{$header-height} - #{$cta-container-height});
      width: 100%;
      object-fit: cover;
      object-position: center;
    }
  }

  &__container {
    @include container;
  }

  &__cta {
    display: flex;
    flex-direction: column;
    gap: 2rem;

    @include above($tablet) {
      flex-direction: row;
      justify-content: space-between;
    }
  }

  &__ctaItem {
    display: flex;
    flex-direction: column;

    @include above($phone) {
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
    }
  }

  &__title {
    font-size: 1.4rem;
    margin-bottom: 0.5rem;
    line-height: 1.2;

    @include above($phone) {
      margin-bottom: 0;
    }

    @include above($tablet) {
      margin-right: 2rem;
    }
  }

  :global(.HeroHome__link) {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 20rem;
    font-size: 1.4rem;
    text-transform: uppercase;
    box-sizing: border-box;
    padding: 0.5rem;
    border: 1px solid $white;
    color: $white;
    text-decoration: none;

    &:hover {
      text-decoration: underline;
    }
  }

  &__icon {
    height: 1.6rem;
    width: 1.6rem;
    color: $white;
  }
}