@import "../../../utils/utils.scss";

.ContactUs {
  background: $primary-colour;

  &__container {
    @include container;
    color: $white;
  }

  &__title {
    font-size: 2rem;
    margin-bottom: 1.6rem;
  }
  
  &__email {
    display: block;
    font-size: 1.4rem;
    text-decoration: none;
    color: $white;
    margin-bottom: 2.5rem;
  }

  &__socialMedia {
    display: flex;
    width: 100%;
    justify-content: center;
    gap: 2rem;

    @include above($phone) {
      justify-content: flex-start;
    }
  }

  &__icon {
    height: 3.5rem;
    color: $white;
  }

}