@import '../../../utils/utils.scss';

.Testimonials {
  &__container {
    @include container;
  }

  &__title {
    font-size: 2rem;
    margin-bottom: 3rem;

    @include above($phone) {
      font-size: 3rem;
    }
  }

  &__carousel {
    position: relative;
    width: 100%;
    overflow: hidden;
  }

  &__carouselItem {
    position:absolute;
    width: 100%;
  }

  &__testimonial {
    position: relative;
    margin-bottom: 3rem;
    display: none;

    .icon {
      position: absolute;
      width: 5rem;
      color: $primary-colour;
      opacity: 0.2;
    }

    .icon-top {
      top: -2rem;
      left: 0;
    }

    .icon-bottom {
      bottom: 4rem;
      right: 0;
    }
  }

  .show {
    display: block;
  }

  &__text {
    display: flex;
    align-items: center;
    font-size: 1.4rem;
    line-height: 2;
    font-style: italic;
    text-align: center;
    margin-bottom: 2rem;

    @include above($phone) {
      font-size: 2rem;
    }
  }

  &__authorName {
    font-size: 1.2rem;
    line-height: 1.3;

    @include above($phone) {
      font-size: 2rem;
    }
  }

  &__authorTitle {
    font-size: 1rem;
    font-style: italic;

    @include above($phone) {
      font-size: 1.4rem;
    }
  }

  &__navigation {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: center;

    .icon {
      height: 2rem;
    }

    .left {
      margin-right: 5rem;
    }

    .right {
      margin-left: 5rem;
    }
  }

  &__pagination {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    font-size: 1.3rem;
    max-width: 30rem;
  }
}