@import '../../../utils/utils.scss';

.AncaWay {
  padding-bottom: 5rem;
  
  &__container {
    @include container;
  }

  &__topText {
    margin-bottom: 5rem;
  }

  &__titleOne {
    font-size: 3rem;
    word-spacing: 100vw;
    margin-bottom: 4rem;
  }

  &__titleTwo {
    font-size: 2.8rem;
    margin-bottom: 2.5rem;
  }

  &__mainText {
    font-size: 1.4rem;
    line-height: 1.5;
  }

  &__bottomText {
    font-size: 2rem;
    line-height: 1.3;
    margin-bottom: 4rem;
  }

  &__colouredText {
    color: $primary-colour;
    margin-bottom: 0.3rem;
  }

  &__image {
    width: 100vw;
    object-fit: contain;
    margin-left: -1.6rem;
    margin-bottom: 2rem;
  }

  &__infoText {
    font-size: 1.4rem;
    padding-left: 1.5rem;
    border-left: 3px solid $primary-colour;
    margin-bottom: 3rem;
  }

  &__teachingSteps {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 2rem;
  }

  &__teachingStep {
    padding: 2rem;
    background-color: rgba($primary-colour, 0.3);
  }

  &__stepTitle {
    font-size: 2rem;
    margin-bottom: 1rem;
  }

  &__stepDescription {
    font-size: 1.4rem;
    line-height: 1.5;
  }
}