@import '../../../utils/utils.scss';

.AncaWay {
  $image-height: 21rem;
  $image-height-desktop: 25rem;

  position: relative;
  padding-bottom: 5rem;
  
  &__container {
    @include container;
  }

  &__topText {
    margin-bottom: 5rem;

    @include above($tablet) {
      display: flex;
      justify-content: space-between;
    }
  }

  &__titleOne {
    font-size: 3rem;
    word-spacing: 100vw;
    margin-bottom: 4rem;
  }

  &__titleTwo {
    font-size: 2.8rem;
  }

  &__mainText {
    font-size: 1.4rem;
    line-height: 1.5;

    @include above($phone) {
      font-size: 2rem;
    }


    @include above($tablet) {
      margin-top: -1rem;
    }
  }

  &__bottomText {
    font-size: 2rem;
    line-height: 1.3;
    margin-bottom: 4rem;

    @include above($tablet) {
      font-size: 3rem;
      text-align: center;
      margin-bottom: 9rem;
    }
  }

  &__colouredText {
    color: $primary-colour;
    margin-bottom: 0.3rem;

    @include above($phone) {
    margin-bottom: 2.5rem;
    }
  }

  &__image {
    position: absolute;
    left: 0;
    width: 100vw;
    height: $image-height;
    object-fit: cover;

    @include above($phone) {
    }

    @include above($tablet) {
      position: static;
      width: 100%;
      height: $image-height-desktop;
      margin-bottom: 5rem;
    }
  }

  &__infoText {
    font-size: 1.4rem;
    padding-left: 1.5rem;
    border-left: 3px solid $primary-colour;
    margin-bottom: 3rem;
    margin-top: calc(#{$image-height} + 2rem + 3rem);


    @include above($phone) {
      max-width: 40rem;
      margin-left: auto;
      margin-right: auto;
      margin-bottom: 4.5rem;
      margin-top: calc(#{$image-height} + 5rem + 3rem);

    }

    @include above($tablet) {
      margin-bottom: 6rem;
      margin-top: 0;
    }
  }

  &__teachingSteps {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 2rem;

    @include above($tablet) {
      flex-direction: row;
      gap: auto;
      height: 25rem;
    }
  }

  &__teachingStep {
    padding: 2rem;
    background-color: rgba($primary-colour, 0.3);

    @include above($tablet) {
      height: 100%;
      width: 20%;
    }
  }

  &__stepTitle {
    font-size: 2rem;
    margin-bottom: 1rem;

    @include above($tablet) {
      margin-bottom: 2rem;
    }
  }

  &__stepDescription {
    font-size: 1.4rem;
    line-height: 1.5;
  }
}