@import '../../../utils/utils.scss';

.OurServices {
  $image-height: 21rem;
  position: relative;

  &__container {
    @include container;
  }

  &__title {
    margin-bottom: 1.4rem;

    @include above($tablet) {
      margin-bottom: 2rem;
    }
  }

  &__subtitle {
    padding-left:1.5rem;
    border-left: 3px solid $primary-colour;
    margin-bottom: 3rem;

    @include above($tablet) {
      font-size: 2rem;
    }
  }

  &__image {
    position: absolute;
    left: 0;
    width: 100vw;
    height: $image-height;
    object-fit: cover;

    @include above($tablet) {
      position: static;
      width: 100%;
    }
  }

  &__services {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 6rem;
    margin-top: calc($image-height + 7rem);
    margin-bottom: 3rem;

    @include above($tablet) {
      margin-top: 3rem;
    }
  }

  &__serviceTitle {
    margin-bottom: 2rem;
  }

  &__serviceText {
    line-height: 1.5;
  }

  &__bottomNote {
    line-height: 1.5;
  }
}