@import "../../utils/utils";

.Terms {
  &__container {
    @include container;
  }

  &__title {
    font-size: 3rem;
    color: $primary-colour;
    margin-bottom: 5rem;
    line-height: 1.3;

    @include above($phone) {
      font-size: 5rem;
    }
  }

  &__subtitle {
    font-size: 2rem;
    margin-bottom: 1rem;
    color: $primary-colour;

    @include above($phone) {
      font-size: 3rem;
    }
  }

  &__body,&__list {
    font-size: 1.4rem;
    line-height: 1.5;
    margin-bottom: 3rem;
  }

  &__list {
    margin-top: -1.5rem;

    li {
      margin-bottom: 1rem;

      &:before {
      content: '\2708';
      font-size: 1.5rem;
      margin-right: 1rem;
      color: $primary-colour;
    }}
  }
}