@import "../../../../utils/utils.scss";

.HeroCta {
  &__ctaItem {
    display: flex;
    flex-direction: column;

    @include above($phone) {
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
    }
  }

  &__title {
    margin-bottom: 0.5rem;
    line-height: 1.2;

    @include above($phone) {
      margin-bottom: 0;
    }

    @include above($tablet) {
      margin-right: 2rem;
    }
  }

  &__icon {
    height: 2.5rem;
    width: 2.5rem;
    color: $white;
  }
}

:global(.HeroCta__link) {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 20rem;
  text-transform: uppercase;
  box-sizing: border-box;
  padding: 0.5rem;
  border: 1px solid $white;
  color: $white;
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }
}