@import "../../../../utils/utils.scss";

.HeroCta {
  &__ctaItem {
    display: flex;
    flex-direction: column;

    @include above($phone) {
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
    }

    @include above($phone) {
      flex-direction: column;
      align-items: center;
      gap: 1rem;
    }
  }

  &__title {
    margin-bottom: 0.5rem;
    line-height: 1.2;
    text-align: center;

    @include above($phone) {
      margin-bottom: 0;
    }
  }
}