@import '../../../../../utils/utils.scss';

.Seminar {
  margin-bottom: 2rem;
  
  &__seminarTitle {
    margin-bottom: 1rem;
  }

  &__row {
    margin-bottom: 1em;
  }

  &__label {
    margin-top: 1em;
    font-weight: bold;
    color: $primary-colour;
    line-height: 1.2;
  }
}