@import '../../../utils/utils.scss';

.LearningFromPilots {
  padding-bottom: 10rem;
  &__container {
    @include container;
    display: flex;
    flex-direction: column;

    @include above($phone) {
      flex-direction: row;
      justify-content: space-between;
      gap: 3rem;
    }
  }

  &__summary {
    width: 75rem;
  }

  &__title {
    font-size: 2rem;
    margin-bottom: 2rem;

    @include above($phone) {
      font-size: 3rem;
      line-height: 3.7rem;
      margin-bottom: 1rem;
    }
  }

  &__subtitle {
    font-size: 1.4rem;
    text-transform: uppercase;
    color: $secondary-text;
    margin-bottom: 4rem;

    @include above($phone) {
      margin-bottom: 2rem;
    }
  }

  &__link {
    display: flex;
    align-items: center;
    font-size: 1.4rem;
    text-decoration: none;
    color: $black;
    margin-bottom: 2.4rem;
    transition: color 0.3s ease-in-out;

    &:hover {
      color: $primary-colour;
    }
  }

  .icon {
    height: 1.3rem;
    margin-left: 0.8rem;
  }

  &__text {
    @include above($phone) {
      max-width: 40rem;
    }

    @include above($tablet) {
      max-width: unset;
    }
  }

  &__textContent {
    font-size: 1.2rem;
    line-height: 1.8rem;

    @include above($phone) {
      line-height: 2.1rem;
    }
  }
}