@import '../../../utils/utils.scss';

.WhoOurClientsAre {
  background-color: $black;
  color: $white;

  &__container {
    @include container;
  }

  &__title {
    margin-bottom: 4.5rem;

    @include above($tablet) {
      text-align: center;
    }
  }

  &__clients {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 7rem;

    @include above($phone) {
      gap: 9rem;
    }

    @include above($tablet) {
      flex-direction: row;
    }
  }

  &__client {
    @include above($tablet) {
      width: 50%;
    }
  }

  &__clientName {
    margin-bottom: 1rem;

    @include above($tablet) {
      text-align: center;
    }
  }

  &__clientSummary {
    line-height: 1.5;

    @include above($tablet) {
      text-align: center;
    }
  }
}