// ====================
// Breakpoints
// ====================
$desktop: 1100px;
$tablet: 970px;
$phone: 700px;

// ====================
// Colours
// ====================
$primary-colour: #0E1B8F;
$secondary-colour: #000;
$text-colour: #000;
$white: #fff;
$black: #000;
$secondary-text: #7E7E7E;

