@import '../../../../utils/utils.scss';

.Seminars {
  margin-bottom: 5rem;

  &__discord {
    margin-top: 2rem;
    display: inline-block;
    color: #fff;
    background: $primary-colour;
    text-decoration: none;
    padding: 0.5rem 1rem;
    border: 1px solid black;

    &:hover {
      color: $black;
      background: #fff;
    }
  }
}