@import "../../../utils/utils.scss";

.TextContent {
  &__container {
    @include container;
  }

  &__text {
    font-size: 1.4rem;
    line-height: 1.5;
  }
}

:global(.TextContent__seminarButton) {
  color: $black;
  text-decoration: none;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  padding: 0.5rem 1rem;
  border: 1px solid $black;
  width: 16rem;
  font-size: 1.4rem;
  margin: auto;
  margin-top: 4rem;
  margin-bottom: 5rem;
  
  .icon {
    height: 1.6rem;
    width: 1.6rem;
  }
  
  @include above($phone) {
    margin-top: -3rem;
    margin-left: 0;
    margin-bottom: 0;
  }

  @include above($tablet) {
    margin: auto;
    margin-top: 4rem;
    margin-bottom: 5rem;
  }
  
  &:hover {
    color: $white;
    background: $black;
  }
}